<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lubsolution.store">
    <!--CAMERA-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.full"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!--BLUETOOTH-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--STORAGE-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- DRIVE -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--PHONE & CONTACT-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--FCM-->
    <permission
        android:name="wolve.dms.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="wolve.dms.permission.C2D_MESSAGE" />


    <!--FINGER_PRINT-->
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:name=".STOREApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/lub_icon"
        android:roundIcon="@drawable/lub_icon_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreen"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true"
        android:configChanges="layoutDirection|locale"
        android:largeHeap="true"
        tools:replace="android:fullBackupContent">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--    <meta-data-->
        <!--        android:name="com.google.android.geo.API_KEY"-->
        <!--        android:value="@string/map_id"/>-->

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://482386522287271:Mh2EsnmYHBAsTAp7jsNLoJ5dXhk@lubsolution" />

        <!--activity-->
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dmslub.com"
                    android:scheme="http" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activities.MainShopActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activities.ShopActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activities.VehicleActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!--    <activity-->
        <!--        android:name=".activities.MapsActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="adjustResize|stateHidden"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.WarehouseActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.ImportActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <activity
            android:name=".activities.ProductGroupActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <!--    <activity-->
        <!--        android:name=".activities.UserActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->



        <!--    <activity-->
        <!--        android:name=".activities.StatusActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.CustomerActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustUnspecified"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.ShopCartActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme= "@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.StatisticalActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.StatisticalCustomerActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.PrintBillActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <!--    <activity-->
        <!--        android:name=".activities.ScannerActivity"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:screenOrientation="unspecified"-->
        <!--        android:theme="@style/FullScreen"-->
        <!--        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <service
            android:name=".libraries.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_lub_notify" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorDarkBlue" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>
</manifest>
